@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Be Vietnam Pro", sans-serif;
}
.absolute {
  position: absolute;
}
.buttonn {
  background-color: red;
  width: 8rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  color: white;
}
.buttonn:hover {
  width: 9rem;
  color: black;
  border: 2px solid red;
  background-color: white;
  transition: all 1s;
}
#wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logo-img {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
  background: -webkit-linear-gradient(rgb(34, 193, 195));
  background: -webkit-linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.nav-items {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}
.nav-items div {
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: 500;
  transition: all 0.8s;
}
a {
  color: black;
}
.nav-items div:hover {
  font-weight: bold;
}
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}
.fadded-text {
  user-select: none;
  font-size: 7rem;
  color: rgb(231, 231, 231);
  bottom: -29%;
  left: -5%;
  font-weight: bold;
  transition: all 3s; 
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero-section-heading {
  font-size: 2rem;
  color: #343d68;
  font-weight: 500;
}
.role {
  background: -webkit-linear-gradient(
    rgba(63, 94, 251, 1),
    rgba(252, 70, 107, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.hero-section-subhead {
  font-size: 2.5rem;
  line-height: 45px;
}
.hero-section-content {
  margin-top: 1rem;
  width: 75%;
  font-weight: 500;
  font-size: 1rem;
}
.hero-right {
  position: relative;
  margin-top: 100px;
}
.user-img {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}
.imgt {
  width: 20rem;
  z-index: -8;
}
@keyframes scaleImage {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: grayscale(1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    transform: scale(1);
    filter: grayscale(0);
  }
}
.icon-dots {
  z-index: 9;
  bottom: -2rem;
  right: -1rem;
  animation: dots 4s linear infinite;
}
@keyframes dots {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
.icon-cube {
  z-index: 9;
  right: -1rem;
  top: -2rem;
  animation: cube 4s linear infinite;
}
@keyframes cube {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  50% {
    transform: translateY(-15px) rotateY(180deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}
.icon-circle {
  z-index: 9;
  bottom: -1rem;
  left: -2rem;
  animation: circle 4s linear infinite;
}
@keyframes circle {
  50% {
    left: 5%;
    bottom: 4%;
  }
}
.icon-zig {
  z-index: 9;
  top: -1.8rem;
  left: -1rem;
  animation: zig 4s ease-in infinite;
}
@keyframes zig {
  50% {
    left: 1%;
    top: 1%;
  }
}
.icon-plus {
  z-index: 9;
  left: 20rem;
  top: -2rem;
  animation: dots 4s ease-in infinite;
}
@keyframes zig {
  50% {
    left: 1%;
    top: 1%;
  }
}
.project-sec {
  background-color: #e7e7e7;
  margin-top: 10rem;
}
.project-head {
  text-align: center;
  padding-top: 30px;
  font-size: 6rem;
  color: red;
}
.project-container {
  color: white;
  display: flex;
  padding: 3rem 0;
  flex-direction: column;
  gap: 120px;
}
#project1 {
  background-image: url(./assets/weatherapp.png);
}
#project2 {
  background-image: url(./assets/obysClone.png);
}
#project3 {
  background-image: url(./assets/password-gen.png);
}
#project4 {
  background-image: url(./assets/premier.png);
}
.project-card {
  width: 80%;
  margin: 2rem 8rem;
  height: 570px;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #1f1f1f;
}
.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
  transform: scaleX(1);
  border-radius: 10px;
}
.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
  transition: all 0.4s;
}
.project-card:hover::before {
  transform: scaleX(1);
}
.project-card-right {
  right: -8rem;
}
.project-no {
  z-index: 1;
  opacity: -1;
  top: -3rem;
  font-size: 12rem;
  font-weight: 600;
}
.project-no-left {
  left: -2.5rem;
}
.project-no-right {
  right: -2.5rem;
}
.project-card:hover .project-no {
  opacity: 1;
}
.project-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  gap: 1rem;
  z-index: 1;
  padding: 2em;
  transition: all 0.4s;
}
.project-card:hover .project-content {
  transform: scale(1.1);
}
.project-content-left {
  left: 10%;
}
.project-content-right {
  top: 3rem;
  right: 6%;
}
.project-heading {
  font-size: 3rem;
}
.project-subheading {
  font-size: 1rem;
  font-style: italic;
  width: 550px;
}
.project-skills {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;
}
.project-img {
  width: 3rem;
}
.but-icon {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.readButton:hover{
  width: 8rem;
  transition: all 1.3s;
}
.tech-stack {
  margin-top: 15rem;
  display: flex;
  gap: 2rem;
  height: 100vh;
  position: relative;
}
.tech-head {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: #343d6885;
}
.capM {
  font-size: 5rem;
  font-weight: 900;
  margin-right: -.9rem;
}
.tech-content {
  font-size: 1rem;
  width: 85%;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tech-stack-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  height: 500px;
  column-gap: 2rem;
  position: relative;
}
.bg-tech {
  position: absolute;
  z-index: -1;
  right: 20rem;
  width: 30rem;
}
.tech-img {
  width: 90px;
}
.tech-img:hover {
  transition: all 0.4s;
  transform: scale(1.2);
}
.fade-tech {
  position: absolute;
  top: 32rem;
  left: 55rem;
  font-size: 11rem;
}
.contact-sec {
  background-color: #e7e7e7;
  height: 100%;
  padding-bottom: 3rem;
}
.contact-head {
  font-size: 5rem;
  font-weight: 600;
  padding-top: 3rem;
}
.contact-subhead{
  margin-left: .5rem;
  font-size: 3rem;
}
.ask-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  margin-top: 3rem;
}
.from-field{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}
.field-hei{
  height: 40px;
}
.field {
  margin-left: 3rem;
  box-shadow: 3px 3px 10px rgb(54, 54, 54);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-weight: 500;
  border: none;
}
.text-area {
  padding: 3rem;
}
.contact-button{
  width: 12rem;
  height: 4.5rem;
  align-self: flex-start;
  margin-left: 11rem;
  margin-top: 1rem;
}
.contact-button:hover{
  width: 13rem;
  color: black;
}
.icon-sendmessage{
  font-size:1.9rem;
}
.icon-sendmessage:hover{
  color: black;
}
.footer{
  height: 13rem;
  background-color: #343d68;
  color: white;
}
.foot-items{
  display: flex;
  justify-content: space-around;
  padding-top:  3rem;
}
.foot-item1{
  display: flex;
  gap: 15px;
}
.foot-item2{
  display: flex;
}
.fot-fad{
  position: absolute;
  opacity: 0.3;
  left: 1rem;
  top: 363rem;
  font-size: 4rem;
  font-weight: 400;
}

.foot-icon{
  font-size: 2.2rem;
  color: white;
  margin-right: 10px;
}
.foot-icon:hover{
  color: rgb(0, 0, 0);
}


@media (max-width: 650px) {
  
  .buttonn {
    background-color: red;
    width: 8rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    cursor: pointer;
    color: white;
  }
  .m-button{
    margin-top: 10px !important;
  }
  .container {
    width: 80vw;
    margin: 0 auto;
  }
  .logo-img {
    font-size: 1.2rem;
  }
  .nav-items {
    display: none;
  }
  .hero-section {
    flex-direction: column;
    gap: 0rem;
    margin: 3rem auto;
    padding: 0;
    padding-bottom: 2rem;
  }

  .fadded-text {
    font-size: 2.8rem;
    bottom: -15%;
    left: -11%;
  }
  .hero-section-subhead {
    font-size: 2.4rem;
    height: 15vh;
  }
  .hero-section-content {
    margin: 0;
    width: 100%;
  }

  .hero-right {
    margin-top: 70px;
  }
  .hero-left {
    gap: 0rem;
  }
  .buttonn{
    margin-top: 0px;
  }
  .user-img {
    padding: 1.5rem;
    filter: grayscale(1);
  }
  .imgt {
    width: 17rem;
  }




/* seek */

  .project-sec {
    margin-top: 7rem;
  }
  .project-head {
    padding-top: 20px;
    font-size: 4rem;
  }
  .project-container {
    padding: 3rem 0;
    gap: 50px;
  }
  .project-card {
    width: 95%;
    margin: 0 auto;
    height: 80vh;
  }
  .project-card-right {
    right: -0rem;
  }
  .project-no {
    display: none;
  }
  .project-no-left {
    left: 0rem;
  }
  .project-no-right {
    right: 0rem;
  }
  .project-content {
    margin: 0;
    gap: 1.5rem;
    z-index: 1;
    padding: 2rem 1rem;
    justify-content: center;
  }
  .project-content-left {
    left: 0%;
    justify-content: center;
  }
  .project-content-right {
    top: 0rem;
    right: 0%;
    
  }
  .project-heading {
    font-size: 2rem;
  }
  .project-subheading {
    font-size: .9rem;
    font-style: italic;
    width: 300px;
  }
  .project-skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .project-img {
    width: 3.5rem;
  }
  .but-icon {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    cursor: pointer;
  }
  .icon-plus{
    display: none;
  }


/* seeek */




  .tech-stack {
    margin-top: 2rem;
    height: 100%;
    flex-direction: column;
  }
  .tech-head {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .capM {
    font-size: 2.4rem;
    margin-right: -.8rem;
  }
  .tech-content {
    width: 100%;
    margin-top: 2rem;
    gap: .8rem;
  }

  .tech-stack-right {
    row-gap: 0.5rem;
    height: 40vh;
    column-gap: 0.5rem;
  }
  .bg-tech {
    right: 10rem;
    width: 20rem;
  }
  .tech-img {
    width: 45px;
  }
  .fade-tech {
    top: 59%;
    left: 12rem;
    z-index: -1;
    height: 8vh;
    font-size: 3.4rem;
  }
  .contact-head {
    font-size: 3rem;
    padding-top: 2rem;
  }
  .contact-subhead{
    margin-left: 0rem;
    font-size: 2rem;
  }
  .from-field{
    gap: 1.5rem;
    width: 100%;
  }
  .field-hei{
    height: 50px;
  }
  .field {
    margin-left: 0rem;
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
  .contact-button{
    width: 12rem;
    height: 4.5rem;
    margin-left: 0rem;
  }
  .icon-sendmessage{
    font-size:1.9rem;
  }
  .footer{
    height: 8rem;
    background-color: #343d68;
    color: white;
  }
  .foot-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-top:  3rem;
  }

}